# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Generated RAG / vector index files
rag_store/

# Outputs / logs
outputs/
*.log

# System files
.DS_Store

# Streamlit
.streamlit/secrets.toml